<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TeamDuo!</title>
    <link rel="icon" href="./static/Images/webs.png">

    <link rel="stylesheet" href="./static/style.css">

    <!-- box icons -->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <!-- header design -->
    <header class="header">
        <a href="#" class="logo">HackDuo.<span class="animate" style="--i:1;"></span></a>

        <div class="bx bx-menu" id="menu-icon"><span class="animate" style="--i:2;"></span></div>

        <nav class="navbar">
            <a href="#home" class="active">Home</a>
            <a href="#about">Prototype</a>
            <a href="#Features">Features</a>
            <a href="#contact">Contact</a>

            <span class="active-nav"></span>
            <span class="animate" style="--i:2;"></span>
        </nav>
    </header>

    <!-- home section design -->
    <section class="home show-animate" id="home">
        <div class="home-content">
            <h1>AI<span> Scheduler and assistant</span><span class="animate" style="--i:2;"></span></h1>
            <div class="text-animate">
                <h3>ElevenLabs AI Hackathon</h3>
                <span class="animate" style="--i:3;"></span>
            </div>
            <p>Introducing an innovative personal assistant AI project designed to revolutionize your scheduling and communication experience! 
                With the ability to answer calls using your very own AI-synthesized voice, this cutting-edge AI ensures seamless interactions. 
                Prior to activation, the model learns your unique timing preferences, enabling it to effortlessly schedule meetings, picnics, and social gatherings on your behalf, all seamlessly integrated with Google Calendar. 
                Streamline your productivity and enhance your daily life with this sophisticated personal assistant AI.
                <span class="animate" style="--i:4;"></span>
            </p>

            <div class="btn-box">
                <a href="#about" class="btn">Fiddle!</a>
                <a href="#Features" class="btn">Explore;&#41;</a>
                <span class="animate" style="--i:5;"></span>
            </div>
        </div>

        <div class="home-sci">
            <a href="https://github.com/lablabai_elevenlabs_hack"><i class='bx bxl-github'></i></a>
            <a href="https://lablab.ai/event/eleven-labs-ai-hackathon"><i class='bx bxs-compass'></i></a>
            <a href="https://discord.gg/BPPEtH9q"><i class='bx bxl-discord'></i></a>
            <span class="animate" style="--i:6;"></span>
        </div>

        <div class="home-imgHover"></div>
        <span class="animate home-img" style="--i:7;"></span>
    </section>

    <!-- about section design -->
    <section class="about" id="about">
        <h2 class="heading">Product <span>Testing</span><span class="animate scroll" style="--i:1;"></span></h2>
        <div class="mainn">
            <div class="translucent-text-box">
                <h2 class="sub-heading">User <span>Input</span><span class="animate scrollq " style="--i:1;"></span></h2>
                <p style="font-size: 18px; padding-bottom: 15px;">User can put in their preferences here.</p><p style="font-size: 16px; padding-bottom: 20px;">For Eg: What time are they busy on, when do they want to schedule meet first, whom do they prefer and mention any specific message to say to someone specific like their mother or some friend.</p>
                <textarea type="text" name="user_pref" id="user-pref" placeholder="Enter your preferences here" ></textarea>
                <button type="submit" class="submit-button" onclick="trainForm()">Submit</button>
            </div>  
            <div class="translucent-text-box">
                <h2 class="sub-heading">Test <span>Area</span><span class="animate scrollq " style="--i:1;"></span></h2>
                <p>Here you will give in your inputs as a caller and the AI will reply to you.</p>
                <!-- Dropdown menu -->
                <h2>How do you want to give your input?</h2>
                <select id="Launguage" name="Launguage">
                    <option disabled selected>Select a launguage</option>
                    <option value="English">English</option>
                    <option value="Hindi">Hindi</option>
                    <option value="German">German</option>
                    <option value="French">French</option>
                    <option value="Italian">Italian</option>
                    <option value="Polish">Polish</option>
                </select>
                <select id="mainSelect" onchange="showOptions()">
                    <option value="" disabled selected>Select an option</option>
                    <option value="option1">Text input</option>
                    <option value="option2">Voice input</option>
                </select>
                <div class="userinpbox" id="option1Div" style="display: none;">
                    <h3>Text Input:</h3>
                    <textarea type="text" name="user_input" id="user-input" placeholder="Enter your query here"></textarea>
                    <button type="submit" class="submit-button" onclick="submitForm()">Submit</button>
                    <textarea class="textare" readonly type="text" name="user_output" id="user-output" placeholder="The output will be displayed here" ></textarea>
                    <button id="playBtnout" disabled>Play output again</button>
                </div>

                <div id="option2Div" style="display: none;">
                    <h3>Voice Input:</h3>
                    <div class="buttns1">
                        <button id="startBtn">Start Recording</button>
                        <button id="stopBtn" disabled>Stop Recording</button>
                    </div>
                    <div class="buttns2">
                        <button onclick="submitForm()" id="saveBtn" disabled >Submit</button>
                        <button id="playBtn" disabled>Play</button>
                        <textarea class="textare1" readonly type="text" name="user_output" id="user-output" placeholder="The output will be displayed here" ></textarea>
                        <button id="playBtnout" disabled>Play output again</button>
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/libmp3lame-js/1.0.1/lame.all.js"></script>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- Features section design -->
    <section class="Features" id="Features">
        <h2 class="heading">My <span>Features</span><span class="animate scroll" style="--i:1;"></span></h2>

        <div class="Features-row">
            <div class="Features-column">
                <h3 class="title">Features<span class="animate scroll" style="--i:2;"></span></h3>

                <div class="Features-box">
                    <div class="Features-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-compass'></i>1</div>
                            <h3>Your Synthetic voice</h3>
                            <p>The Synthetic voice AI powered by Eleven Labs API delivers highly 
                                realistic and natural-sounding speech synthesis. Its seamless 
                                integration and scalability make it ideal 
                                for various applications.</p>
                        </div>
                    </div>

                    <div class="Features-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-compass'></i>2</div>
                            <h3>Meaningful conversation</h3>
                            <p>Using the Open-Source LLM - Falcon 7B,
                                we are able to produce natural sounding answers.
                            </p>
                        </div>
                    </div>

                    <div class="Features-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-compass'></i>3</div>
                            <h3>Event Addition To Calendar Support</h3>
                            <p>We have added functionality to LLM to access
                                the google calendar and put in schedules on our behalf.</p>
                        </div>
                    </div>

                    <span class="animate scroll" style="--i:3;"></span>
                </div>
            </div>

            <div class="Features-column">
                <h3 class="title">Facts<span class="animate scroll" style="--i:5;"></span></h3>

                <div class="Features-box">
                    <div class="Features-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-compass'></i>1</div>
                            <h3>WebApp demo</h3>
                            <p>Here we present to you a WebApp demo
                                that can be later implemented on more suitable platform
                                 where the model can recieve calls on our behalf.
                            </p>
                        </div>
                    </div>

                    <div class="Features-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-compass'></i>2</div>
                            <h3>Hosted on Azure</h3>
                            <p>Currently we have hosted the webApp on Microsoft Azure
                                 since it is a fast and reliable service.
                            </p>
                        </div>
                    </div>

                    <div class="Features-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-compass'></i>3</div>
                            <h3>Technology used</h3>
                            <p>Our Tech Stack is - Python, Flask, HTML, CSS, JavaScript, Azure, ElevenLabs API and Google cloud services.</p>
                        </div>
                    </div>

                    <span class="animate scroll" style="--i:6;"></span>
                </div>
            </div>
        </div>
    </section>

    <!-- contact section design -->
    <section class="contact" id="contact">
        <h2 class="heading">Our <span>Contact</span><span class="animate scroll" style="--i:1;"></span></h2>
        <div class="flex-container">
            <div class="intro">
                <div class="about-img">
                    <img src="./static/Images/contact1.jpg" alt="">
                    <span class="circle-spin"></span>
                    <span class="animate scroll" style="--i:2;"></span>
                </div>
                <div class="about-content">
                    <h3>Akshay Kushawaha<span class="animate scroll" style="--i:3;"></span></h3>
                    <p>As the technical lead, I navigate the complexities, steering the project with expertise and precision to achieve remarkable results! 
                        <br><br>Pre-Final Year,<br> Bachelors in Tech. CS<span class="animate scroll" style="--i:4;"></span>
                    </p>
                    <div class="links">
                        <a href="https://github.com/Akshaykushawaha"><i class='bx bxl-github'></i></a>
                        <a href="https://www.linkedin.com/in/akshay-kushawaha-301a95220/"><i class='bx bxs-compass'></i></a>
                        <a href="https://discordapp.com/users/809739206494519357"><i class='bx bxl-discord'></i></a>
                        
                    </div>
                </div>

            </div>
        
            <div class="intro">
                <div class="about-img">
                    <img src="./static/Images/contact2.jpg" alt="">
                    <span class="circle-spin"></span>
                    <span class="animate scroll" style="--i:2;"></span>
                </div>
                <div class="about-content">
                    <h3>Divya Shah<span class="animate scroll" style="--i:3;"></span></h3>
                    <p>I am the design head, shaping the project's visual symphony with artistic finesse and crafting an experience that leaves an indelible impression! 
                        <br><br>Pre-Final Year,<br> Bachelors in Tech. CS <span class="animate scroll" style="--i:4;"></span>
                    </p>
                </div>
                <div class="links">
                    <a href="https://github.com/divya322"><i class='bx bxl-github'></i></a>
                    <a href="https://www.linkedin.com/in/divya-shah-4a16791b5/"><i class='bx bxs-compass'></i></a>
                    <a href="https://discordapp.com/users/1059363435160272916"><i class='bx bxl-discord'></i></a>
                </div>
            </div>
        </div>
    </section>
    <script src="./static/script.js"></script>
</body>

</html>